{% extends 'events/base.html' %}
{% block content %}
    {% for event in events %}
        <div class="event">
            <h1><a href="{% url 'event_detail' pk=event.pk %}">{{ event.title }}</a></h1>
            <h2>Valdkond: {{ event.field }}</h2>
            <div class="date">
            <p>Toimumise aeg: {{ event.event_date }}</p>
            </div>
            <p>{{ event.descripton|linebreaksbr }}</p>
            <p>Asukoht: {{ event.location }}</p>
            <a href="{% url 'event_detail' pk=event.pk %}">Comments: {{ event.comments.count }}</a>
        </div>
    {% endfor %}
{% endblock %}