body {
    background-color: #fff;
    color: #333;
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
}

.validation-summary-valid {
    display: none;
}

tr.booking-edited {
    color: red;
}

tr.booking-canceled, .garages-deleted {
    text-decoration: line-through;
    color: gray;
}

.pad-top {
    padding-top: 20px;
}

div#day-1, #day-2, #day-3, #day-4 {
    display: inline-block;
    border: 1px solid black;
    float: left;
    height: 50px;
    margin: 10px;
    text-align: center;
}
a#booking-back-to-list{
    padding-bottom: 15px;
}