table input {
	margin-left: 5px;
	margin-bottom: 5px;
	width: 30px;
}

#matrixContainer {
	position: relative;
	width: 1500px;
	height: 200px;
	border: 1px solid black;
}

#matrix1Container {
	position: absolute;
	left: 10px;
	top: 10px;
	border: 1px solid black;
}

#matrix2Container {
	position: absolute;
	left: 10px;
	top: 10px;
	border: 1px solid black;
}

#matrixAnswerContainer {
	position: absolute;
	left: 10px;
	top: 10px;
	border: 1px solid black;
}

#matrixFinalAnswerContainer {
	position: absolute;
	left: 10px;
	top: 10px;
	border: 1px solid black;
}

.matrixAnswerInput {
	width: 110px;
}

#exerciseMatrixContainer {
	position: relative;
	width: 1500px;
	height: 200px;
	border: 1px solid black;
}

#exerciseMatrix1Container {
	position: absolute;
	left: 10px;
	top: 10px;
	border: 1px solid black;
}

#exerciseMatrix2Container {
	position: absolute;
	left: 10px;
	top: 10px;
	border: 1px solid black;
}

#exerciseMatrixAnswerContainer {
	position: absolute;
	left: 10px;
	top: 10px;
	border: 1px solid black;
}

