{% extends 'event/base.html' %}

{% block content %}
    <div class="event">
        {% if post.event_date %}
            <div class="date">
                {{ post.event_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'event_edit' pk=event.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-default" href="{% url 'event_remove' pk=event.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
        <h1>{{ event.title }}</h1>
        <p> Kirjeldus: {{ event.description|linebreaksbr }}</p>
        <p> Asukoht: {{ event.location|linebreaksbr }}</p>
        <p>Millal toimub?: {{ event.event_date }}</p>
    </div>
{% endblock %}